Diagnostics:
  ClangTidy:
    Add: [modernize*, readability*, bugprone*, misc*]
    Remove: [
      bugprone-easily-swappable-parameters,
      misc-non-private-member-variables-in-classes,
      misc-use-anonymous-namespace,
      modernize-avoid-c-arrays,
      readability-magic-numbers,
    ]

---

CompileFlags:
  Add: [-std=c++20]
